/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
/*
 *= require rails_bootstrap_forms
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$navbar-default-bg: #ac001e;
$text-color: #222;
$navbar-default-color: $text-color;
$navbar-default-link-color: #fff;
$border-radius-base: 0;
$navbar-default-link-active-color: #fff;
$navbar-default-link-hover-color: #eee;
body {
	background-image: image-url("noise.png");
}

@import "bootstrap";

.alert-notice {
	@extend .alert-success;
}
