<h1>Datei Upload</h1>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: 'alert alert-' + name %>
<% end -%>

<%= render 'form' %>

<p id="edfustatus"><%= EdfuStatus.last.status if EdfuStatus.last %></p>